<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppId" value=""/>
    <add key="Key" value=""/>
    <add key="RoadAPIUrl" value="https://api.tfl.gov.uk/Road/{RoadName}?app_id={AppId}&amp;app_key={Key}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
